<footer class=" py-3 my-4 border-top" >

    <ul class="nav col-med-4 justify-content-end ">
        <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link px-2 text-body-secondary">Inicio</a></li>
        <li class="nav-item"><a href="{% url 'acerca' %}" class="nav-link px-2 text-body-secondary">Acerca</a></li>
        <li class="nav-item"><a href="{% url 'bienvenido' %}" class="nav-link px-2 text-body-secondary">Bienvenido</a></li>    
    </ul>
    <p class="text-center text-body-secondary" > Creado por Flavia Cayun y Juan Torres para Desafio Latam 2024</p>
</footer>